test.tdb
tmpGraphStoreDir
target
lib_managed
src_managed
lift_example
projectboot
.classpath
.project
.manager
*~
*.class
*.log
*\#*
*.swp
sbt-launch*.jar
.scala_dependencies
*.orig
.cache
.settings
.idea
.idea_modules
.ensime*
*.egp

# just for convenience for now - needs tidying up
.local*
*local*
scala_common*
